<div class="panel panel-default">
	<div class="panel-heading">
	{{!-- 	{{title}} --}}
	<a href="{{link}}" target="_blank">{{title}}</a>
	<button method="POST" action="/saved/{{_id}}" data-id="{{_id}}" class="btn btn-default saveBTN">SAVE ARTICLE</button>

	</div>

	<div class="panel-body">
		<div class="summaryDiv">
			{{summary}}
		</div>
		<div class="imageDiv">
			<img class="media" src="{{img}}">
		</div>
		

	</div>
		
</div>